<div class="container white">
	<h3>Blogit is an Article sharing platform for serious bloggers.</h3>
	<h4>The project was developed by Boadzie Daniel; <br>
	        a Full-stack developer,<br>
			Enterpreneur(<a href="https://www.entrepreneurship-campus.org/meet-21st-century-skills-clinic/" >21st Century Skills Clinic)</a>,<br>
			Student at University of Ghana (Vice President of Computer Science Department).
			<br> <br>
			Also works in Technologies below:
			<hr>
			Javascript,<br>
			Python,<br>
			Ruby on Rails,<br>
			R.
			</h4>
	<hr>
	<%= image_tag("ME.jpg", :alt => "Me", class:"img-circle") %>
	<hr>
	<div>
	   <p>Reach him via the email below;</p>
	   <p><i class="glyphicon glyphicon-envelope"></i> boadziedaniel43@gmail.com</p>
	   <p>Github ID:<i class="glyphicon glyphicon-github"></i><a href="https://github.com/Boadzie">Boadzie</a></p><br>
	   <h3>Other Projects:</h3>
	   <a href="https://boadzie.github.io/Background-Generator/">Background Generator</a><br>
	   <a href="https://fintraker.herokuapp.com/">Fintraker</a>
	</div>
	<hr>
	<div>
	    <%= link_to  'back to Home', root_path, class:"btn btn-success" %>
	</div>
</div>