<div class="container">
	<h3>Blogit is a a Blog sharing platform for serious bloggers.</h3>
	<h4>The project was developed by Boadzie Daniel; a Full-stack Rails developer and Enterpreneur.</h4>
	<hr>
	<%= image_tag("ME.jpg", :alt => "Me", class:"img-circle") %>
	<hr>
	<div>
	   <p>Reach him via the email below;</p>
	   <p><i class="glyphicon glyphicon-envelope"></i> boadziedaniel43@gmail.com</p>
	</div>
	<hr>
	<div>
	    <%= link_to  'back to Home', root_path, class:"btn btn-success" %>
	</div>
</div>