
<div class="center jumbotron"> 
  <h1>BLOGIT</h1>
  <h4><i>Share your awesome ideas with the world.</i></h4><br>
  <%= link_to  "Sign Up Now!", signup_path, class:"btn btn-success btn-lg blak" %> 
</div>

<hr>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-success">
        <div class="panel-heading big"><i class="	glyphicon glyphicon-pencil" style="font-size:40px;"></i> Write</div>
        <div class="panel-body">
          <p>Write your blogs with the world <br> and see it change lives.</p>
        </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-success">
        <div class="panel-heading big"><i class="glyphicon glyphicon-eye-open" style="font-size:40px;"></i> Read</div>
        <div class="panel-body">
          <p>Read amazing articles from numerous <br> categories.</p>
        </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-success">
        <div class="panel-heading big"><i class="	glyphicon glyphicon-globe" style="font-size:40px;"></i> Share</div>
        <div class="panel-body">
          <p>Share your blogs with the world <br> and see it change lives.</p>
        </div>
    </div>
  </div>
</div>

<div class="page-header">
    <h2>Get Started today by signing up above!</h2>
</div>